/* Add your custom theme styles here */

[data-engrid-theme="aiusa"] {
  /* All headlines in the body are always capitalized */
  /* All label text in the body are capitalized */
  /* All button text in the body are always capitalized */
  [class*="body-"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label,
    button,
    .button {
      text-transform: uppercase;
    }
  }

  .en__component--advcolumn[class*="content"] {
    background-color: lightblue;
  }

  .en__component--advcolumn[class*="content"] > * {
    background-color: lightyellow;
  }

  .en__component--advcolumn[class*="body"] {
    background-color: #fff;
  }

  /* hiding labels until label class */
  .en__field--recurrfreq > label {
    display: none;
  }
  .en__field--othamt2 {
    display: none;
  }

  header,
  footer {
    display: inline-flex;
    width: 100%;
  }

  footer {
    flex-wrap: wrap;

    #designed-by-4site-wrapper {
      flex-basis: 100%;
      text-align: center;
    }
  }

  nav > ul li:hover ul {
    position: absolute;
    background-color: white;
    right: 0;
    padding: 0 20px 40px 50px !important;
    a {
      display: inline-block;
      padding-bottom: 20px;
      &:hover {
        text-decoration: underline;
        background-color: yellow;
      }
    }
  }

  nav a {
    display: block;
  }

  .body-header {
    padding-left: 0;
    padding-right: 0;
  }

  

  /* Sum of all MIN values of the Body Columns */
  &[data-engrid-layout="centerleft1col"] {
    @media screen and (min-width: 776px) {
      /* prettier-ignore */
      .en__component--advrow,
            .en__component--advrow .pseudo-subgrid {
                /* autoprefixer grid: off */
                grid-template-columns:
                [
                pc-start lpc-start]  minmax(0px, 0px)        [lpc-end
                cc-start lcc-start]  minmax(0px, 128px)      [lcc-end
                bc-start lbc-start]  minmax(260px, 260px)    [lbc-end
                rbc-start]           minmax(260px, 260px)    [rbc-end bc-end
                rcc-start]           minmax(0px, 792px)      [rcc-end cc-end
                rpc-start]           minmax(0px, 1fr)        [rpc-end pc-end               
                ];
            }

      .content-header {
        margin-bottom: 80px;
        background-color: #fff;
      }

      .content-footer {
        margin-top: 80px;
      }
    }
  }

  /* Sum of all MIN values of the Body Columns */
  &[data-engrid-layout="centerleft1col"] {
    @media screen and (max-width: 775px) {
      /* prettier-ignore */
      .en__component--advrow,
            .en__component--advrow .pseudo-subgrid {
                /* autoprefixer grid: off */
                grid-template-columns:
                [
                    pc-start lpc-start]  minmax(0px, 0px)    [lpc-end
                    cc-start lcc-start]  minmax(0px, 0px)    [lcc-end
                    bc-start lbc-start]  minmax(0px, 50vw)   [lbc-end
                    rbc-start]           minmax(0px, 50vw)   [rbc-end bc-end
                    rcc-start]           minmax(0px, 0px)    [rcc-end cc-end
                    rpc-start]           minmax(0px, 0px)    [rpc-end pc-end             
                ];
            }
    }
  }

  .page-backgroundImage {
    background-color: #ccc;
    background-image: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/default-bg-8.jpg?v\=1578587000000");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .menu-btn {
    position: absolute;
    z-index: 3;
    left: 0px;
    top: 5px;
    cursor: pointer;
    transition: all 0.5s ease-out;
  }
  .menu-btn .btn-line {
    width: 20px;
    height: 1.5px;
    margin: 0 0 5px 0;
    background: black;
    transition: all 0.5s ease-out;
  }

  .menu-btn.close {
    transform: rotate(180deg);
    top: 0px;
  }

  .menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 3px);
  }

  .menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -3px);
  }

  .content-header {
    .en__component--codeblock {
      background-color: #fff;
    }
    header {
      display: flex;
      align-items: center;
    }
    #social-proof-wrapper {
      flex: 4;
      padding: 0 24px;

      p {
        margin: 0px;
        line-height: 14px;
        font-size: 12px;
        font-weight: 400;
        &:first-child {
          margin-bottom: 5px;
        }
        strong {
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
    #menu-wrapper {
      flex: 1;
      align-content: flex-end;
      text-transform: uppercase;
      ul {
        margin: 0;
      }
      li.has-submenu {
        position: relative;
        a {
          text-align: right;
          font-size: 16px;
          font-weight: 700;
          padding: 0 10px;
          font-family: "AmnestyTradeGothicCn";
        }
        ul {
          padding: 10px;
          li a {
            text-align: left;
            padding: 10px 0;
          }
        }
      }
    }
  }

  .body-top {
    h1 {
      font-size: 47px;
      line-height: 56.68px;
      font-weight: 700;
      margin-bottom: 0;
      font-family: 'AmnestyTradeGothicCn';
    }
  }

  .body-main {
    padding-top: 40px;
  }

  input.en__field__input {
    background: rgba(228, 228, 228, 0.36);
    box-shadow: none !important;
    &:hover {
      box-shadow: 0 2px 0 0 #b3b3b3 !important;
    }
    &:focus {
      box-shadow: 0 2px 0 0 #000 !important;
    }
  }

  .en__component--copyblock > p, .en__component--copyblock > p > a {
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
  }

  .en__component--formblock .en__field.en__field--checkbox > label {
    display: none;
  }

  label.en__field__label.en__field__label--item {
    padding: 12px 25px;
    border-radius: 2px !important;
    border: 2px solid #E4E4E4 !important;
    width: 100%;
    text-transform: uppercase !important;
    font-family: 'AmnestyTradeGothicCn';
  }
  
  label.en__field__label.en__field__label--item:hover {
    background-color: white !important;
    border-color: #000 !important;
  }
  input:checked+label.en__field__label.en__field__label--item {
    background-color: yellow;
    border-color: yellow !important;
    color: black;
    box-shadow: none !important;
    &:hover {
      background-color: yellow !important;
      border-color: #000 !important;
    }
  }
  input.en__field__input--checkbox:checked+label.en__field__label.en__field__label--item,
  input.en__field__input--checkbox+label.en__field__label.en__field__label--item {
    background-color: #fff !important;
    font-weight: 500;
    font-family: 'AmnestyTradeGothic';
    text-transform: none !important;
    border: 0px !important;
    padding: 0 70px 0 0;
    font-size: 12px;
    line-height: 18px;
  }
  

  .en__field--donationAmt {
    input:checked+label.en__field__label.en__field__label--item {
      background-color: black;
      border-color: black !important;
      color: white;
      &:hover {
        background-color: #000 !important;
      }
    }
  }

  .en__field__element--radio {
    justify-content: space-between;
  }

  .en__field--recurrfreq {
    padding-right: 0;
    .en__field__item {
      max-width: 30%;
      margin-right: 0px !important;
    }
  }

  .en__component--copyblock {
    > h2.section-header {
       width: 100%;
      text-align: center;
      font-family: 'AmnestyTradeGothicCn';
      color: #000;
      position: relative;
      z-index: 1;
      font-size: 16px;
      overflow: hidden;
      margin: 10px 0 20px;
      &:before, &:after {
        position: absolute;
        top: 51%;
        width: 45%;
        overflow: hidden;
        height: 1px;
        content: '\a0';
        background-color: #e4e4e4;
      }
      &:before {
        margin-left: -50%;
        text-align: right;
      }
      &:after {
        width: 40%;
        margin-left: 5%;
      }
    }
  }

  .en__field--donationAmt {
    > label {
      width: 100%;
      text-align: center;
      font-family: 'AmnestyTradeGothicCn';
      color: #000;
      position: relative;
      z-index: 1;
      overflow: hidden;
      margin: 10px 0 20px;
      &:before, &:after {
        position: absolute;
        top: 51%;
        width: 45%;
        overflow: hidden;
        height: 1px;
        content: '\a0';
        background-color: #e4e4e4;
      }
      &:before {
        margin-left: -50%;
        text-align: right;
      }
      &:after {
        width: 40%;
        margin-left: 5%;
      }
    }
    .en__field__item {
      min-width: 22%;
      label {
        text-align: center;
      }
    }
    .en__field__item.en__field__item--other {
      flex-grow: 2;
      input.en__field__input.en__field__input--other {
        background-color: #e4e4e4 !important;
      }
    }
    
  }

  .en__component--formblock {
    label {
      font-family: "AmnestyTradeGothicCn";
      color: #525252;
      font-size: 12px;
      letter-spacing: 0.06em;
    }
  }

  .en__submit button {
    font-family: "AmnestyTradeGothicCn";
    font-weight: 700;
  }

  .en__component.en__component--codeblock > div > img {
    display: inline-block;
  }
  
}
