/* Add your custom theme styles here */

[data-engrid-theme="aiusa"] {
  /* All headlines in the body are always capitalized */
  /* All label text in the body are capitalized */
  /* All button text in the body are always capitalized */
  [class*="body-"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label,
    button,
    .button {
      text-transform: uppercase;
    }
  }

  .en__component--advcolumn[class*="content"] {
    background-color: lightblue;
  }

  .en__component--advcolumn[class*="content"] > * {
    background-color: var(--color-white);
  }

  header,
  footer {
    display: inline-flex;
    width: 100%;
  }

  footer {
    flex-wrap: wrap;

    #designed-by-4site-wrapper {
      flex-basis: 100%;
      text-align: center;
      display: none;
    }
  }

  nav > ul li:hover ul {
    position: absolute;
    background-color: var(--color-white);
    right: 0;
    text-align: left;
    padding: 80px 0px 40px 70px !important;
    width: 220px;
    top: -30px;
    display: block !important;
    // z-index: 1;
    a {
      display: inline-block;
      padding-bottom: 20px;
      &:hover {
        text-decoration: underline;
        background-color: var(--theme-cta);
      }
    }
  }

  nav a {
    display: block;
  }

  a.whats-this {
    font-size: 12px;
    text-transform: none;
    position: absolute;
    right: 0;
    text-decoration: underline;
    color: #767676;
  }

  .body-header {
    padding-left: 0;
    padding-right: 0;
  }

  /* Sum of all MIN values of the Body Columns */
  &[data-engrid-layout="centerleft1col"] {
    @media screen and (min-width: 776px) {
      /* prettier-ignore */
      .en__component--advrow,
            .en__component--advrow .pseudo-subgrid {
                /* autoprefixer grid: off */
                grid-template-columns:
                [
                pc-start lpc-start]  minmax(0px, 0px)        [lpc-end
                cc-start lcc-start]  minmax(0px, 128px)      [lcc-end
                bc-start lbc-start]  minmax(260px, 260px)    [lbc-end
                rbc-start]           minmax(260px, 260px)    [rbc-end bc-end
                rcc-start]           minmax(0px, 1fr)      [rcc-end cc-end
                rpc-start]           minmax(0px, 0px)        [rpc-end pc-end               
                ];
            }

      .body-header {
        margin-top: 80px;
      }

      .body-footer {
        margin-bottom: 80px;
        padding-top: 30px;
      }
    }
  }

  /* Sum of all MIN values of the Body Columns */
  &[data-engrid-layout="centerleft1col"] {
    @media screen and (max-width: 775px) {
      /* prettier-ignore */
      .en__component--advrow,
            .en__component--advrow .pseudo-subgrid {
                /* autoprefixer grid: off */
                grid-template-columns:
                [
                    pc-start lpc-start]  minmax(0px, 0px)    [lpc-end
                    cc-start lcc-start]  minmax(0px, 0px)    [lcc-end
                    bc-start lbc-start]  minmax(0px, 50vw)   [lbc-end
                    rbc-start]           minmax(0px, 50vw)   [rbc-end bc-end
                    rcc-start]           minmax(0px, 0px)    [rcc-end cc-end
                    rpc-start]           minmax(0px, 0px)    [rpc-end pc-end             
                ];
            }
      footer {
        background-color: #e4e4e4;
        flex-direction: column;
        padding-top: 32px;
        #footer-menu-wrapper {
          order: 2;
          letter-spacing: 0.1ch;
          margin-bottom: 26px;
          ul#footer-menu {
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto !important;
            li {
              margin: 5px 10px;
              &:nth-child(2) {
                border-right: 0px;
              }
              &:nth-child(3) {
                width: 100%;
                text-align: center;
              }
            }
          }
        }
        #footer-social-wrapper {
          order: 1;
          margin-bottom: 24px;
          ul {
            justify-content: center;
          }
        }
        #designed-by-4site-wrapper {
          order: 3;
        }
      }
      #social-proof-wrapper,
      #footer-logo-wrapper {
        display: none;
      }
      .content-header #menu-wrapper li.has-submenu {
        position: unset;
      }
      .menu-btn {
        left: unset;
        right: 160px;
        top: 32px;
      }
      .menu-btn.close {
        top: 27px;
      }
      div#header-logo-wrapper {
        z-index: 9;
      }

      nav > ul li ul {
        left: 0;
        padding: 140px 30px 40px 15% !important;
        width: 100% !important;
        text-align: right !important;
      }
      .content-header #menu-wrapper li.has-submenu ul li a {
        font-size: 20px;
        text-align: right;
      }
      .en__field--recurrfreq .en__field__item,
      .en__field--donationAmt div.en__field__item:not(.en__field__item--other) {
        flex-basis: 40%;
      }
      .en__field {
        flex-basis: 100% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  }

  .menu-btn {
    position: absolute;
    z-index: 3;
    left: -25px;
    top: 5px;
    cursor: pointer;
    transition: all 0.35s ease-out;
  }
  .menu-btn .btn-line {
    width: 20px;
    height: 2px;
    margin: 0 0 5px 0;
    background: var(--color-black);
    transition: all 0.35s ease-out;
  }

  .menu-btn.close {
    transform: rotate(180deg);
    top: 0px;
  }

  .menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 3px);
  }

  .menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -3px);
  }

  .content-header {
    header {
      display: flex;
      align-items: center;
    }
    #social-proof-wrapper {
      flex: 4;
      padding: 0 24px;

      p {
        margin: 0px;
        line-height: 14px;
        font-size: 12px;
        font-weight: 400;
        &:first-child {
          margin-bottom: 5px;
        }
        strong {
          font-weight: 700;
        }
      }
    }
    #menu-wrapper {
      flex: 1;
      align-content: flex-end;
      text-transform: uppercase;
      text-align: right;
      font-weight: 700;
      nav a {
        display: block;
      }

      ul {
        margin: 0;
      }
      li.has-submenu {
        position: relative;
        display: inline-block;
        padding-right: 20px;
        a {
          text-align: right;
          padding: 0 10px;
          position: relative;
          z-index: 3;
        }
        ul {
          padding: 10px;
          li a {
            text-align: left;
            padding: 10px 0;
          }
        }
      }

      nav > ul li > ul {
        position: absolute;
        background-color: var(--color-white);
        right: 0;
        text-align: left;
        padding: 80px 20px 40px 89px;
        width: 220px;
        top: -30px;
        display: none;
      }

      nav > ul li:hover ul {
        display: block !important;
        // z-index: 1;
        a {
          display: inline-block;
          padding-bottom: 20px;
          &:hover {
            text-decoration: underline;
            background-color: var(--theme-cta);
          }
        }
      }
    }
  }

  .body-top {
    h1 {
      font-size: 47px;
      line-height: 56.68px;
      margin-bottom: 0;
    }
  }

  .body-main {
    padding-top: 40px;
  }

  .en__field__item {
    label {
      font-size: 20px;
    }
  }

  input.en__field__input {
    &:focus {
      // box-shadow: 0 2px 0 0 #000;
    }
  }

  .en__component--copyblock > p,
  .en__component--copyblock > p > a {
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    font-family: var(--theme-font-stack-browser-fonts);
  }

  .en__component--formblock .en__field.en__field--checkbox > label,
  #en__field_transaction_recurrpay {
    display: none;
  }

  .en__field__input--checkbox:checked + .en__field__label:before {
    box-shadow: none;
  }

  .en__field__input--checkbox + .en__field__label:before {
    height: 2rem;
    width: 2rem;
  }
  .en__field__input--checkbox:checked + .en__field__label::after {
    left: -1.5rem;
    top: 0.75rem;
    font-size: 20px;
    font-weight: 700;
  }

  label.en__field__label.en__field__label--item {
    padding: 12px 5px;
    width: 100%;
    text-transform: uppercase !important;
    font-family: "AmnestyTradeGothic";
    justify-content: center;
    display: inline-block;
    text-align: center;
  }

  label.en__field__label.en__field__label--item:hover {
    // background-color: white !important;
    // border-color: #000 !important;
  }

  input:checked + label.en__field__label.en__field__label--item {
    // background-color: var(--theme-cta);
    // border-color: var(--theme-cta) !important;
    // color: black;
    // box-shadow: none !important;

    &:hover {
      // background-color: var(--theme-cta) !important;
      // border-color: #000 !important;
    }
  }

  .has-value input:checked + label.en__field__label.en__field__label--item {
    outline: none !important;
    &:hover {
      background-color: #fff !important;
    }
  }

  .card,
  .check,
  .paypal {
    input:checked + label.en__field__label.en__field__label--item {
      background-color: var(--theme-typography-button-color);
      color: var(--theme-typography-button-background-color);
      border-color: var(--theme-typography-button-color) !important;
      &:hover {
        color: var(--theme-typography-button-color);
      }
    }
  }

  .en__field--donationAmt .en__field__element--radio {
    width: 100%;
  }

  .en__component.en__component--copyblock.recurring-frequency-y-hide.inline-monthly-upsell {
    position: relative;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    padding: 0 10px;
    min-height: 60px;
    p {
      margin: 20px 0 0;
      font-size: 20px;
      line-height: 24px;
    }
    &::before {
      content: "";
      background-image: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1839/upsell_arrow.png?v=1614603925000");
      width: 26px;
      height: 15.5px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: calc(50% - 13px);
      top: -23px;
    }
  }

  .en__field--donationAmt div.en__field__item:not(.en__field__item--other) {
    // flex-grow: 1;
    flex-basis: calc((100% / 3) - 1rem);
    max-width: calc(100% / 3);
    // flex-shrink: 1;
    // justify-content: center;
    // margin: 10px 1.5% !important;
    .en__field__label--item {
      width: 100%;
      &::after {
        text-transform: uppercase;
        font-size: 100%;
        opacity: 1;
        line-height: inherit;
      }
    }
  }

  .en__field--donationAmt div.en__field__item.en__field__item--other {
    // flex-grow: 2;
    // flex-shrink: 0;
    flex-basis: calc((100% * (2 / 3)) - 1rem);
    max-width: calc(100% * (2 / 3));
    // margin: 10px 1.5% !important;
    input {
      // text-align: center;
      padding-left: 1.75rem;
      border-color: var(--theme-typography-button-border-color);
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .en__field--donationAmt .en__field__item--other::before {
    display: block;
    content: "$";
    position: absolute;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    line-height: 0;
    height: 0;
    left: 1rem;
    top: 50%;
  }

  input.en__field__input--checkbox:checked
    + label.en__field__label.en__field__label--item,
  input.en__field__input--checkbox
    + label.en__field__label.en__field__label--item {
    background-color: var(--color-white);
    font-weight: 500;
    font-family: var(--theme-typography-default-font-family);
    text-transform: none !important;
    border: 0px !important;
    padding: 3px 10px 0;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
  }

  .en__field--donationAmt {
    input:checked + label.en__field__label.en__field__label--item {
      background-color: black;
      border-color: black !important;
      color: white;
      &:hover {
        background-color: #000 !important;
      }
    }
  }

  .en__field__element--radio {
    // justify-content: space-between;
  }

  .en__field--recurrfreq {
    padding-right: 0;
    .en__field__item {
      max-width: calc(100% / 3);
      margin-right: 0px !important;
    }
  }

  h2.section-header {
    width: 100%;
    text-align: center;
    font-family: "AmnestyTradeGothic";
    font-weight: 700;
    position: relative;
    // z-index: 1;
    font-size: 16px;
    overflow: hidden;
    margin: 10px 0 20px;
    &:before,
    &:after {
      position: absolute;
      top: 51%;
      width: 45%;
      overflow: hidden;
      height: 2px;
      content: "\a0";
      background-color: #e4e4e4;
    }
    &:before {
      margin-left: -50%;
      text-align: right;
    }
    &:after {
      width: 40%;
      margin-left: 5%;
    }
    &.gift-amount {
      margin: 40px 0 -10px;
      display: none;
    }
  }

  .en__field--donationAmt {
    > label {
      // width: 100%;
      // text-align: center;
      // font-family: "AmnestyTradeGothic";
      // font-weight: 400;
      // color: #000;
      // position: relative;
      // z-index: 1;
      // overflow: hidden;
      // margin: 10px 0 20px;
      &:before,
      &:after {
        //   position: absolute;
        //   top: 51%;
        //   width: 45%;
        //   overflow: hidden;
        //   height: 1px;
        //   content: "\a0";
        //   background-color: #e4e4e4;
      }
      &:before {
        // margin-left: -50%;
        // text-align: right;
      }
      &:after {
        // width: 40%;
        // margin-left: 5%;
      }
    }
    .en__field__item {
      // min-width: 22%;
      label {
        // text-align: center;
      }
    }
    .en__field__item.en__field__item--other {
      // flex-grow: 2;
      input.en__field__input.en__field__input--other {
        // background-color: #e4e4e4 !important;
        // position: relative;
        // background-image: url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1839/dollar.png?v=1614605096000');
        // background-position: 25% center;
        // background-repeat: no-repeat;
        // background-size: 10px 18px;
        // text-align: left;
        // text-indent: 30%;
        // color: black;
      }
    }
  }

  .en__component
    .en__field.en__field--radio
    .en__field__item:not(.en__field__item--other) {
    // margin: 0 1.5% 0.5rem;
    // flex-grow: 1;
    // flex-basis: 30%;
    // flex-shrink: 1;
  }

  .en__field__item.paypal label {
    position: relative;
    padding-left: 30%;
    span {
      display: inline-block;
      height: 16px;
      width: 16px;
      background-image: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1839/paypal.png?v=1614704461000");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      left: -81px;
      top: 1px;
    }
  }

  select {
    background-image: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1839/caret.png?v=1614604340000");
    background-size: 10px 7px;
  }

  .en__field__input--splitselect {
    min-height: 41.78px;
  }

  .en__component--formblock {
    label {
      letter-spacing: 0.06em;
      font-weight: 700;
    }
  }

  .en__submit button {
    font-family: "AmnestyTradeGothic";
    font-weight: 700;
  }

  .en__component.en__component--codeblock > div > img {
    display: inline-block;
    &:nth-child(1) {
      margin-right: 10px;
      filter: grayscale(1) opacity(0.6);
    }
  }

  input::placeholder,
  select {
    color: var(--theme-typography-input-placeholder-color);
  }

  footer {
    display: flex;
    align-items: center;
    ul {
      list-style: none;
      padding: 0;
      display: flex;
    }
    #footer-menu {
      margin: 0 0 0 50px;
      li {
        padding-right: 15px;
        margin-right: 15px;
        border-right: 1px solid black;
        font-size: 14px;
        letter-spacing: 0.1ch;
        &:nth-child(3) {
          border-right: 0px;
        }
        a {
          font-weight: 400;
          font-family: var(--theme-typography-default-font-family);
          font-size: 14px;
        }
      }
    }
    #footer-social-wrapper {
      flex: 1;
      ul {
        justify-content: flex-end;
        margin: 0px;
        li {
          margin: 0 9px;
        }
      }
      img {
        max-width: auto;
        height: 20px;
      }
    }
  }

  .body-bottom > div > div {
    display: flex;
    justify-content: flex-start;
    img {
      margin: 0;
    }
    *:nth-child(3) {
      margin-left: auto;
    }
  }
}

body:not(#en__pagebuilder)[data-engrid-layout="centerleft1col"]
  .page-backgroundImage {
  // background-color: var(--theme-light-gray);
  // background-repeat: no-repeat;
  // background-size: contain;
  grid-row: content-header-end / content-footer-start;
}
